In [350]:
import pandas as pd
import numpy as np

In [351]:
data=pd.read_csv("C:/Users/User/Desktop/TSWRDC Code/Web Scraping/Output/Student_Assignment_15_april.csv")

In [352]:
data.head()

,Name of the college,Student Name,Email,Assignment_CAP_Classwork(your_notebook)26March,Comment_Assignment_CAP_Classwork(your_notebook)26March,Assignment_CV__Resume,Comment_Assignment_CV__Resume,Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Comment_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Assignment_Long_term_dreams_and_short_term_goals,Comment_Assignment_Long_term_dreams_and_short_term_goals,Assignment_Practice,Comment_Assignment_Practice,Assignment_Preparing_for_PG_Masters,Comment_Assignment_Preparing_for_PG_Masters,Assignment_SMART_goal,Comment_Assignment_SMART_goal,Assignment_SWOT,Comment_Assignment_SWOT
0,TSWRDC Siddipet,K.POOJA,kasapooja61@gmail.com,Not Submitted,NaN,Not Submitted,NaN,Not Submitted,NaN,Rejected,# MENTION 2 separate STEM GOALs. You need to b...,Not Submitted,NaN,Not Submitted,NaN,Rejected,"# S: The goal needs to be very specific, to t...",Not Submitted,NaN
1,TSWRDC Siddipet,P.DIVYA,palanchadeepiu@gmail.com,Not Submitted,NaN,Not Submitted,NaN,Not Submitted,NaN,Rejected,# MENTION 2 separate STEM GOALs.,Not Submitted,NaN,Not Submitted,NaN,Rejected,"# S: The goal needs to be very specific, to t...",Not Submitted,NaN
2,TSWRDC Siddipet,B.MAMATHA,bgmamatha2022@gmail.com,Not Submitted,NaN,Not Submitted,NaN,Not Submitted,NaN,Rejected,# You have uploaded in the wrong module. Pleas...,Not Submitted,NaN,Not Submitted,NaN,Rejected,"# S: The goal needs to be very specific, to t...",Not Submitted,NaN
3,TSWRDC Siddipet,T.SHRAVANI,ravitheddu@gmail.com,Not Submitted,NaN,Not Submitted,NaN,Not Submitted,NaN,Accepted,# Good job. You can add more specifics of whic...,Not Submitted,NaN,Not Submitted,NaN,Rejected,"# S: The goal needs to be very specific, to t...",Not Submitted,NaN
4,TSWRDC Siddipet,CH.JAYASRI,chatlapallyjayasri@gmail.com,Not Submitted,NaN,Not Submitted,NaN,Not Submitted,NaN,Accepted,# Mention the subject name in goal 2. Biology ...,Not Submitted,NaN,Not Submitted,NaN,Not Submitted,NaN,Not Submitted,NaN

In [353]:
data.columns

Index(['Name of the college', 'Student Name', 'Email',
       'Assignment_CAP_Classwork(your_notebook)26March',
       'Comment_Assignment_CAP_Classwork(your_notebook)26March',
       'Assignment_CV__Resume', 'Comment_Assignment_CV__Resume',
       'Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Comment_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Assignment_Long_term_dreams_and_short_term_goals',
       'Comment_Assignment_Long_term_dreams_and_short_term_goals',
       'Assignment_Practice', 'Comment_Assignment_Practice',
       'Assignment_Preparing_for_PG_Masters',
       'Comment_Assignment_Preparing_for_PG_Masters', 'Assignment_SMART_goal',
       'Comment_Assignment_SMART_goal', 'Assignment_SWOT',
       'Comment_Assignment_SWOT'],
      dtype='object')

In [354]:
cllg=data['Name of the college']

In [355]:
college=data['Name of the college'].unique()
college
len(college)

41

In [356]:
college=data['Name of the college']

In [357]:
data2={'College Name':data['Name of the college']}

In [358]:
# Creating a DataFrame
df = pd.DataFrame(data)

# Example of main imported data with a column named 'college'
main_imported_data = {
    'college': data['Name of the college'],
}

# Including the 'college' column from the main imported data
df['college'] = main_imported_data['college']

# Selecting columns that start with "Assignment_" and including the "college" column
selected_columns = df.filter(regex='^(Assignment_|college)')

# Displaying the selected columns
selected_columns.head()

,Assignment_CAP_Classwork(your_notebook)26March,Assignment_CV__Resume,Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Assignment_Long_term_dreams_and_short_term_goals,Assignment_Practice,Assignment_Preparing_for_PG_Masters,Assignment_SMART_goal,Assignment_SWOT,college
0,Not Submitted,Not Submitted,Not Submitted,Rejected,Not Submitted,Not Submitted,Rejected,Not Submitted,TSWRDC Siddipet
1,Not Submitted,Not Submitted,Not Submitted,Rejected,Not Submitted,Not Submitted,Rejected,Not Submitted,TSWRDC Siddipet
2,Not Submitted,Not Submitted,Not Submitted,Rejected,Not Submitted,Not Submitted,Rejected,Not Submitted,TSWRDC Siddipet
3,Not Submitted,Not Submitted,Not Submitted,Accepted,Not Submitted,Not Submitted,Rejected,Not Submitted,TSWRDC Siddipet
4,Not Submitted,Not Submitted,Not Submitted,Accepted,Not Submitted,Not Submitted,Not Submitted,Not Submitted,TSWRDC Siddipet

In [359]:
selected_columns['Assignment_Long_term_dreams_and_short_term_goals'].unique()

array(['Rejected', 'Accepted', 'Not Submitted'], dtype=object)

In [360]:
import pandas as pd

# Assuming 'assignment_data' is your DataFrame containing the assignment data

# Create a function to count the number of 'Accepted' and 'Rejected' assignments in each column
def count_accepted_rejected(row):
    accepted_count = (row == 'Accepted').sum()
    rejected_count = (row == 'Rejected').sum()
    submission_count=accepted_count+rejected_count
    return submission_count
    
# Group the data by 'college' and apply the function to get the counts for each college
grouped_accepted_rejected_counts = selected_columns.groupby('college').apply(lambda x: x.drop('college', axis=1).apply(count_accepted_rejected))

# Display the counts of 'Accepted' and 'Rejected' assignments for each college and each assignment column
grouped_accepted_rejected_counts

,Assignment_CAP_Classwork(your_notebook)26March,Assignment_CV__Resume,Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Assignment_Long_term_dreams_and_short_term_goals,Assignment_Practice,Assignment_Preparing_for_PG_Masters,Assignment_SMART_goal,Assignment_SWOT
college,,,,,,,,
"TSWRD Pharmacy College, Mahbubabad",0,0,0,0,3,0,0,0
"TSWRDC & PGC, Budvel",0,0,0,44,1,32,44,33
TSWRDC Khammam,3,4,0,40,1,6,39,27
TSWRDC Mahendrahills,46,0,0,48,1,46,48,48
TSWRDC Nirmal,36,20,1,40,0,1,41,35
TSWRDC Nizamabad,51,0,0,51,0,19,51,51
TSWRDC Siddipet,0,0,0,35,0,1,33,11
TSWRDCW Adilabad,46,0,0,51,2,51,51,49
TSWRDCW Armoor,10,21,0,42,1,42,42,40
TSWRDCW Bhupalpally,0,0,0,43,25,0,43,20
TSWRDCW Jagathgirigutta,25,1,0,44,0,44,43,44
TSWRDCW Jagtial,32,2,0,29,2,33,31,37
TSWRDCW Kamareddy,38,6,0,37,1,1,36,40
TSWRDCW Karimnagar,0,0,0,17,17,45,16,7
TSWRDCW Kothagudem,40,14,1,46,0,47,37,43
TSWRDCW Mahbubnagar,0,0,0,49,24,48,49,49
TSWRDCW Mancherial,27,0,0,31,1,31,31,31
TSWRDCW Medak,40,0,11,49,0,47,49,46
TSWRDCW Nagarkurnool,32,0,0,50,1,38,50,45
TSWRDCW Nalgonda,0,0,0,12,3,1,1,0
TSWRDCW Sircilla,0,21,0,48,1,39,48,41
TSWRDCW Suryapet,0,0,0,39,1,34,39,21
TSWRDCW Vikarabad,0,0,0,35,0,0,35,31
TSWRDCW Wanaparthy,23,0,0,31,0,30,31,31
TSWRDCW Warangal West,0,0,0,37,32,34,37,37
TSWRDCW Warangal east,47,2,5,50,36,50,50,50
TTWRDC Asifabad(Women),42,1,0,46,0,45,46,44
TTWRDC Dammapeta(Women),6,0,0,11,9,4,11,8
TTWRDC Devarakonda(Women),7,11,0,18,2,13,17,13
TTWRDC Janagaon(Women),21,0,0,30,0,27,29,26
TTWRDC Khammam(Women),23,0,0,29,1,26,29,27
TTWRDC Kothagudem(Women),0,0,0,47,0,37,9,38
TTWRDC Mahabubabad(Women),0,0,0,30,0,1,30,17
TTWRDC Mahabubnagar(Women),1,0,0,14,1,1,6,1
TTWRDC Medak(Women),31,2,0,47,0,5,10,46
TTWRDC Mulugu(Women),0,0,0,25,2,0,1,20
TTWRDC Nizamabad(Women),0,21,29,39,1,41,40,41
TTWRDC Shadnagar(Women),39,0,1,41,1,38,43,37
TTWRDC Siricilla(Women),0,0,0,10,0,3,10,2
TTWRDC Suryapeta(Women),25,0,13,52,2,51,52,48
TTWRDC Utnoor(Women),35,0,0,36,1,36,39,36

In [361]:
selected_columns['college'].head()

0    TSWRDC Siddipet
1    TSWRDC Siddipet
2    TSWRDC Siddipet
3    TSWRDC Siddipet
4    TSWRDC Siddipet
Name: college, dtype: object

In [362]:
college=selected_columns['college']

# Creating a DataFrame
df = pd.DataFrame(data)

# Using the melt function to merge the columns into a single column
merged_data = df.melt(value_vars=df.filter(regex='^(Assignment_|college)'), value_name='Assignment').drop(columns='variable')


# Displaying the merged data with a single 'Assignment' column
merged_data

          Assignment
0      Not Submitted
1      Not Submitted
2      Not Submitted
3      Not Submitted
4      Not Submitted
...              ...
12507  Not Submitted
12508  Not Submitted
12509       Rejected
12510  Not Submitted
12511  Not Submitted

[12512 rows x 1 columns]

In [363]:
import pandas as pd

data = selected_columns   # storing selected column dataframe under variable data
df = pd.DataFrame(data)   # Creating a DataFrame

college = df['college']  # Extracting the 'college' column

# Using the melt function to merge the columns into a single column and including the 'college' column
merged_data = df.melt(value_vars=selected_columns, 
                      var_name='Assignment', value_name='Score',
                      id_vars='college')

# Displaying the merged data with the 'Assignment' and 'college' columns
merged_data

,college,Assignment,Score
0,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
1,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
2,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
3,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
4,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
...,...,...,...
12507,TSWRDC Khammam,Assignment_SWOT,Not Submitted
12508,TSWRDC Khammam,Assignment_SWOT,Not Submitted
12509,TSWRDC Khammam,Assignment_SWOT,Rejected
12510,TSWRDC Khammam,Assignment_SWOT,Not Submitted
12511,TSWRDC Khammam,Assignment_SWOT,Not Submitted

In [364]:
merged_data.head()

,college,Assignment,Score
0,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
1,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
2,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
3,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
4,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted

In [365]:
merged_data['Score'].value_counts()

Score
Not Submitted    6087
Accepted         4170
Rejected         2055
Under review      200
Name: count, dtype: int64

In [366]:
len(merged_data['college'].unique())

41

In [367]:
# Value counts of items present in the 'Score' column
score_value_counts = merged_data['Score'].value_counts()

# Displaying the value counts of items in the 'Score' column
print(score_value_counts)

Score
Not Submitted    6087
Accepted         4170
Rejected         2055
Under review      200
Name: count, dtype: int64

In [368]:
# Group the data by 'Score' and 'College' and then obtain the value counts
score_college_value_counts = merged_data.groupby(['Score', 'college']).size().reset_index(name='Count')

# Displaying the value counts of items in the 'Score' column grouped by 'College'
print(score_college_value_counts)

            Score                             college  Count
0        Accepted  TSWRD Pharmacy College, Mahbubabad      3
1        Accepted                TSWRDC & PGC, Budvel     91
2        Accepted                      TSWRDC Khammam     29
3        Accepted                TSWRDC Mahendrahills    232
4        Accepted                       TSWRDC Nirmal     95
..            ...                                 ...    ...
130  Under review              TTWRDC Asifabad(Women)      4
131  Under review             TTWRDC Nizamabad(Women)      1
132  Under review             TTWRDC Shadnagar(Women)      1
133  Under review             TTWRDC Siricilla(Women)      1
134  Under review             TTWRDC Suryapeta(Women)      8

[135 rows x 3 columns]

In [369]:
# Value counts of items present in the 'Score' column grouped by the name of the college
score_value_counts_by_college = merged_data.groupby('college')['Score'].value_counts()

# Displaying the value counts of items in the 'Score' column grouped by college name
print(score_value_counts_by_college)

college                             Score
TSWRD Pharmacy College, Mahbubabad  Not Submitted     21
                                    Accepted           3
TSWRDC & PGC, Budvel                Not Submitted    206
                                    Accepted          91
                                    Rejected          63
                                                    ...
TTWRDC Suryapeta(Women)             Rejected          45
                                    Under review       8
TTWRDC Utnoor(Women)                Not Submitted    137
                                    Accepted         130
                                    Rejected          53
Name: count, Length: 135, dtype: int64

In [370]:
# Creating a pivot table to get counts of different 'Score' categories
pivot_table = merged_data.pivot_table(index='college', columns='Score', aggfunc='size', fill_value=0)

# Renaming the columns for better readability
pivot_table.rename(columns={'not submitted': 'Not Submitted Count', 
                            'submitted': 'Submitted Count', 
                            'accepted': 'Accepted Count', 
                            'rejected': 'Rejected Count'}, inplace=True)

# Displaying the pivot table with the specified column names
pivot_table.head()

Score,Accepted,Not Submitted,Rejected,Under review
college,,,,
"TSWRD Pharmacy College, Mahbubabad",3,21,0,0
"TSWRDC & PGC, Budvel",91,206,63,0
TSWRDC Khammam,29,208,91,0
TSWRDC Mahendrahills,232,124,5,23
TSWRDC Nirmal,95,146,79,8

In [371]:
# Calculating the acceptance rate
pivot_table['Acceptance Rate(in Percentage)'] = ((pivot_table['Accepted'] / (pivot_table['Accepted'] + pivot_table['Rejected'])).round(4))*100
pivot_table['Total Assignment']=(pivot_table['Accepted'] + pivot_table['Rejected'] + pivot_table['Under review'])

# Reorder the columns with the "Not Submitted" column moved after the "Total Assignment" column
pivot_table = pivot_table[['Accepted', 'Rejected', 'Under review','Total Assignment', 'Acceptance Rate(in Percentage)']]

# Displaying the updated and organized tabular data
pivot_table

Score,Accepted,Rejected,Under review,Total Assignment,Acceptance Rate(in Percentage)
college,,,,,
"TSWRD Pharmacy College, Mahbubabad",3,0,0,3,100.00
"TSWRDC & PGC, Budvel",91,63,0,154,59.09
TSWRDC Khammam,29,91,0,120,24.17
TSWRDC Mahendrahills,232,5,23,260,97.89
TSWRDC Nirmal,95,79,8,182,54.60
TSWRDC Nizamabad,157,66,0,223,70.40
TSWRDC Siddipet,17,63,0,80,21.25
TSWRDCW Adilabad,199,51,0,250,79.60
TSWRDCW Armoor,130,68,2,200,65.66
TSWRDCW Bhupalpally,81,50,0,131,61.83
TSWRDCW Jagathgirigutta,153,48,41,242,76.12
TSWRDCW Jagtial,118,48,0,166,71.08
TSWRDCW Kamareddy,107,52,36,195,67.30
TSWRDCW Karimnagar,70,32,0,102,68.63
TSWRDCW Kothagudem,91,137,36,264,39.91
TSWRDCW Mahbubnagar,154,65,0,219,70.32
TSWRDCW Mancherial,143,9,0,152,94.08
TSWRDCW Medak,209,33,0,242,86.36
TSWRDCW Nagarkurnool,173,43,0,216,80.09
TSWRDCW Nalgonda,1,16,0,17,5.88
TSWRDCW Sircilla,142,56,0,198,71.72
TSWRDCW Suryapet,44,90,1,135,32.84
TSWRDCW Vikarabad,12,89,0,101,11.88
TSWRDCW Wanaparthy,114,32,0,146,78.08
TSWRDCW Warangal West,89,88,0,177,50.28
TSWRDCW Warangal east,284,6,38,328,97.93
TTWRDC Asifabad(Women),216,8,4,228,96.43
TTWRDC Dammapeta(Women),35,14,0,49,71.43
TTWRDC Devarakonda(Women),15,66,0,81,18.52
TTWRDC Janagaon(Women),70,63,0,133,52.63
TTWRDC Khammam(Women),124,11,0,135,91.85
TTWRDC Kothagudem(Women),77,54,0,131,58.78
TTWRDC Mahabubabad(Women),50,28,0,78,64.10
TTWRDC Mahabubnagar(Women),5,19,0,24,20.83
TTWRDC Medak(Women),72,69,0,141,51.06
TTWRDC Mulugu(Women),33,15,0,48,68.75
TTWRDC Nizamabad(Women),37,175,1,213,17.45
TTWRDC Shadnagar(Women),162,38,1,201,81.00
TTWRDC Siricilla(Women),8,17,1,26,32.00
TTWRDC Suryapeta(Women),198,45,8,251,81.48
TTWRDC Utnoor(Women),130,53,0,183,71.04

In [372]:
merged_df2=pd.merge(grouped_accepted_rejected_counts,pivot_table,on='college',how='inner')

In [373]:
merged_df2.columns

Index(['Assignment_CAP_Classwork(your_notebook)26March',
       'Assignment_CV__Resume',
       'Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Assignment_Long_term_dreams_and_short_term_goals',
       'Assignment_Practice', 'Assignment_Preparing_for_PG_Masters',
       'Assignment_SMART_goal', 'Assignment_SWOT', 'Accepted', 'Rejected',
       'Under review', 'Total Assignment', 'Acceptance Rate(in Percentage)'],
      dtype='object')

In [374]:
merged_df2

,Assignment_CAP_Classwork(your_notebook)26March,Assignment_CV__Resume,Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Assignment_Long_term_dreams_and_short_term_goals,Assignment_Practice,Assignment_Preparing_for_PG_Masters,Assignment_SMART_goal,Assignment_SWOT,Accepted,Rejected,Under review,Total Assignment,Acceptance Rate(in Percentage)
college,,,,,,,,,,,,,
"TSWRD Pharmacy College, Mahbubabad",0,0,0,0,3,0,0,0,3,0,0,3,100.00
"TSWRDC & PGC, Budvel",0,0,0,44,1,32,44,33,91,63,0,154,59.09
TSWRDC Khammam,3,4,0,40,1,6,39,27,29,91,0,120,24.17
TSWRDC Mahendrahills,46,0,0,48,1,46,48,48,232,5,23,260,97.89
TSWRDC Nirmal,36,20,1,40,0,1,41,35,95,79,8,182,54.60
TSWRDC Nizamabad,51,0,0,51,0,19,51,51,157,66,0,223,70.40
TSWRDC Siddipet,0,0,0,35,0,1,33,11,17,63,0,80,21.25
TSWRDCW Adilabad,46,0,0,51,2,51,51,49,199,51,0,250,79.60
TSWRDCW Armoor,10,21,0,42,1,42,42,40,130,68,2,200,65.66
TSWRDCW Bhupalpally,0,0,0,43,25,0,43,20,81,50,0,131,61.83
TSWRDCW Jagathgirigutta,25,1,0,44,0,44,43,44,153,48,41,242,76.12
TSWRDCW Jagtial,32,2,0,29,2,33,31,37,118,48,0,166,71.08
TSWRDCW Kamareddy,38,6,0,37,1,1,36,40,107,52,36,195,67.30
TSWRDCW Karimnagar,0,0,0,17,17,45,16,7,70,32,0,102,68.63
TSWRDCW Kothagudem,40,14,1,46,0,47,37,43,91,137,36,264,39.91
TSWRDCW Mahbubnagar,0,0,0,49,24,48,49,49,154,65,0,219,70.32
TSWRDCW Mancherial,27,0,0,31,1,31,31,31,143,9,0,152,94.08
TSWRDCW Medak,40,0,11,49,0,47,49,46,209,33,0,242,86.36
TSWRDCW Nagarkurnool,32,0,0,50,1,38,50,45,173,43,0,216,80.09
TSWRDCW Nalgonda,0,0,0,12,3,1,1,0,1,16,0,17,5.88
TSWRDCW Sircilla,0,21,0,48,1,39,48,41,142,56,0,198,71.72
TSWRDCW Suryapet,0,0,0,39,1,34,39,21,44,90,1,135,32.84
TSWRDCW Vikarabad,0,0,0,35,0,0,35,31,12,89,0,101,11.88
TSWRDCW Wanaparthy,23,0,0,31,0,30,31,31,114,32,0,146,78.08
TSWRDCW Warangal West,0,0,0,37,32,34,37,37,89,88,0,177,50.28
TSWRDCW Warangal east,47,2,5,50,36,50,50,50,284,6,38,328,97.93
TTWRDC Asifabad(Women),42,1,0,46,0,45,46,44,216,8,4,228,96.43
TTWRDC Dammapeta(Women),6,0,0,11,9,4,11,8,35,14,0,49,71.43
TTWRDC Devarakonda(Women),7,11,0,18,2,13,17,13,15,66,0,81,18.52
TTWRDC Janagaon(Women),21,0,0,30,0,27,29,26,70,63,0,133,52.63
TTWRDC Khammam(Women),23,0,0,29,1,26,29,27,124,11,0,135,91.85
TTWRDC Kothagudem(Women),0,0,0,47,0,37,9,38,77,54,0,131,58.78
TTWRDC Mahabubabad(Women),0,0,0,30,0,1,30,17,50,28,0,78,64.10
TTWRDC Mahabubnagar(Women),1,0,0,14,1,1,6,1,5,19,0,24,20.83
TTWRDC Medak(Women),31,2,0,47,0,5,10,46,72,69,0,141,51.06
TTWRDC Mulugu(Women),0,0,0,25,2,0,1,20,33,15,0,48,68.75
TTWRDC Nizamabad(Women),0,21,29,39,1,41,40,41,37,175,1,213,17.45
TTWRDC Shadnagar(Women),39,0,1,41,1,38,43,37,162,38,1,201,81.00
TTWRDC Siricilla(Women),0,0,0,10,0,3,10,2,8,17,1,26,32.00
TTWRDC Suryapeta(Women),25,0,13,52,2,51,52,48,198,45,8,251,81.48
TTWRDC Utnoor(Women),35,0,0,36,1,36,39,36,130,53,0,183,71.04

In [375]:
len(merged_df2)

41

In [376]:
data3=pd.read_excel("C:/Users/User/Desktop/Final_Student Nominations.xlsx")

In [377]:
data3.head()

,Sno.,Name of the college,Student Name,Email,Currently pursuing year/semester,Subject Area
0,1.0,TSWRDC Siddipet,K.POOJA,kasapooja61@gmail.com,"2nd year, 4thSemester",BZC
1,2.0,TSWRDC Siddipet,P.DIVYA,palanchadeepiu@gmail.com,"2nd year,4th semester",BZC
2,3.0,TSWRDC Siddipet,B.MAMATHA,BGmamatha2022@gmail.com,"2nd year ,4th semester",BZC
3,4.0,TSWRDC Siddipet,T.SHRAVANI,ravitheddu@gmail.com,2nd year 4th semester,BZC
4,5.0,TSWRDC Siddipet,CH.JAYASRI,chatlapallyjayasri@gmail.com,"2nd year, 4th semester",BZC

In [378]:
data3['Name of the college'].value_counts()

Name of the college
TSWRDCW Nagarkurnool                  68
TTWRDC Suryapeta(Women)               64
TSWRDC Khammam                        61
TSWRDC Mahendrahills                  54
TSWRDCW Kamareddy                     53
TSWRDC & PGC, Budvel                  53
TSWRDCW Bhupalpally                   52
TSWRDCW Adilabad                      52
TSWRDCW Warangal east                 52
TTWRDC Asifabad(Women)                51
TSWRDC Nirmal                         51
TSWRDCW Armoor                        50
TTWRDC Kothagudem(Women)              50
TSWRDCW Mahbubnagar                   50
TSWRDCW Medak                         50
TSWRDCW Sircilla                      50
TSWRDCW Jagtial                       50
TSWRDC Nizamabad                      50
TSWRDCW Kothagudem                    50
TTWRDC Medak(Women)                   50
TSWRDCW Warangal West                 50
TTWRDC Shadnagar(Women)               49
TSWRDCW Karimnagar                    49
TSWRDCW Jagathgirigutta               48
TTWRDC Nizamabad(Women)               47
TTWRDC Devarakonda(Women)             46
TSWRDC Siddipet                       45
TSWRDCW Suryapet                      45
TTWRDC Utnoor(Women)                  42
TTWRDC Mahabubnagar(Women)            42
TTWRDC Mahabubabad(Women)             40
TSWRD Pharmacy College, Mahbubabad    40
TTWRDC Janagaon(Women)                40
TSWRDCW Vikarabad                     39
TSWRDCW Wanaparthy                    33
TSWRDCW Mancherial                    32
TTWRDC Khammam(Women)                 30
TTWRDC Mulugu(Women)                  30
TSWRDCW Nalgonda                      26
TTWRDC Siricilla(Women)               25
TTWRDC Dammapeta(Women)               12
Name: count, dtype: int64

In [379]:

college_student_count = data3.groupby(['Name of the college', 'Student Name']).size().reset_index(name='count')

# Replace 'college' and 'student_name' with the actual column names in your DataFrame
# The college_student_count DataFrame will contain the count of students for each college and student name
college_student_count

                     Name of the college             Student Name  count
0     TSWRD Pharmacy College, Mahbubabad              MALA ROHINI      1
1     TSWRD Pharmacy College, Mahbubabad          YELLAMLA ANUSHA      1
2     TSWRD Pharmacy College, Mahbubabad  ASAMEPELLI RATHNAPRABHA      1
3     TSWRD Pharmacy College, Mahbubabad       BAPANPALLI SRAVANI      1
4     TSWRD Pharmacy College, Mahbubabad            BHUKYA ANITHA      1
...                                  ...                      ...    ...
1851                TTWRDC Utnoor(Women)                   T.SONY      1
1852                TTWRDC Utnoor(Women)              U.PREMAKALA      1
1853                TTWRDC Utnoor(Women)           jadhav jyothi       1
1854                TTWRDC Utnoor(Women)                   sarala      1
1855                TTWRDC Utnoor(Women)         urvetha archana       1

[1856 rows x 3 columns]

In [380]:

# Group by the college name and count the number of students in each college
college_student_count = data3.groupby('Name of the college')['Student Name'].count().reset_index(name='student_count')

# Print the count of students in each unique college
college_student_count

                   Name of the college  student_count
0   TSWRD Pharmacy College, Mahbubabad             40
1                 TSWRDC & PGC, Budvel             53
2                       TSWRDC Khammam             61
3                 TSWRDC Mahendrahills             54
4                        TSWRDC Nirmal             51
5                     TSWRDC Nizamabad             50
6                      TSWRDC Siddipet             45
7                     TSWRDCW Adilabad             52
8                       TSWRDCW Armoor             50
9                  TSWRDCW Bhupalpally             52
10             TSWRDCW Jagathgirigutta             48
11                     TSWRDCW Jagtial             50
12                   TSWRDCW Kamareddy             53
13                  TSWRDCW Karimnagar             49
14                  TSWRDCW Kothagudem             50
15                 TSWRDCW Mahbubnagar             50
16                  TSWRDCW Mancherial             32
17                       TSWRDCW Medak             50
18                TSWRDCW Nagarkurnool             68
19                    TSWRDCW Nalgonda             26
20                    TSWRDCW Sircilla             50
21                    TSWRDCW Suryapet             45
22                   TSWRDCW Vikarabad             39
23                  TSWRDCW Wanaparthy             33
24               TSWRDCW Warangal West             50
25               TSWRDCW Warangal east             52
26              TTWRDC Asifabad(Women)             51
27             TTWRDC Dammapeta(Women)             12
28           TTWRDC Devarakonda(Women)             46
29              TTWRDC Janagaon(Women)             40
30               TTWRDC Khammam(Women)             30
31            TTWRDC Kothagudem(Women)             50
32           TTWRDC Mahabubabad(Women)             40
33          TTWRDC Mahabubnagar(Women)             42
34                 TTWRDC Medak(Women)             50
35                TTWRDC Mulugu(Women)             30
36             TTWRDC Nizamabad(Women)             47
37             TTWRDC Shadnagar(Women)             49
38             TTWRDC Siricilla(Women)             25
39             TTWRDC Suryapeta(Women)             64
40                TTWRDC Utnoor(Women)             42

In [381]:
college_student_count= college_student_count.rename(columns={'Name of the college': 'college'})

In [382]:
college_student_count.head()

                              college  student_count
0  TSWRD Pharmacy College, Mahbubabad             40
1                TSWRDC & PGC, Budvel             53
2                      TSWRDC Khammam             61
3                TSWRDC Mahendrahills             54
4                       TSWRDC Nirmal             51

In [383]:
merged_df2.columns

Index(['Assignment_CAP_Classwork(your_notebook)26March',
       'Assignment_CV__Resume',
       'Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Assignment_Long_term_dreams_and_short_term_goals',
       'Assignment_Practice', 'Assignment_Preparing_for_PG_Masters',
       'Assignment_SMART_goal', 'Assignment_SWOT', 'Accepted', 'Rejected',
       'Under review', 'Total Assignment', 'Acceptance Rate(in Percentage)'],
      dtype='object')

In [384]:
merged_df3=pd.merge(college_student_count,merged_df2,on='college',how='inner')

In [385]:
merged_df3

,college,student_count,Assignment_CAP_Classwork(your_notebook)26March,Assignment_CV__Resume,Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Assignment_Long_term_dreams_and_short_term_goals,Assignment_Practice,Assignment_Preparing_for_PG_Masters,Assignment_SMART_goal,Assignment_SWOT,Accepted,Rejected,Under review,Total Assignment,Acceptance Rate(in Percentage)
0,"TSWRD Pharmacy College, Mahbubabad",40,0,0,0,0,3,0,0,0,3,0,0,3,100.00
1,"TSWRDC & PGC, Budvel",53,0,0,0,44,1,32,44,33,91,63,0,154,59.09
2,TSWRDC Khammam,61,3,4,0,40,1,6,39,27,29,91,0,120,24.17
3,TSWRDC Mahendrahills,54,46,0,0,48,1,46,48,48,232,5,23,260,97.89
4,TSWRDC Nirmal,51,36,20,1,40,0,1,41,35,95,79,8,182,54.60
5,TSWRDC Nizamabad,50,51,0,0,51,0,19,51,51,157,66,0,223,70.40
6,TSWRDC Siddipet,45,0,0,0,35,0,1,33,11,17,63,0,80,21.25
7,TSWRDCW Adilabad,52,46,0,0,51,2,51,51,49,199,51,0,250,79.60
8,TSWRDCW Armoor,50,10,21,0,42,1,42,42,40,130,68,2,200,65.66
9,TSWRDCW Bhupalpally,52,0,0,0,43,25,0,43,20,81,50,0,131,61.83
10,TSWRDCW Jagathgirigutta,48,25,1,0,44,0,44,43,44,153,48,41,242,76.12
11,TSWRDCW Jagtial,50,32,2,0,29,2,33,31,37,118,48,0,166,71.08
12,TSWRDCW Kamareddy,53,38,6,0,37,1,1,36,40,107,52,36,195,67.30
13,TSWRDCW Karimnagar,49,0,0,0,17,17,45,16,7,70,32,0,102,68.63
14,TSWRDCW Kothagudem,50,40,14,1,46,0,47,37,43,91,137,36,264,39.91
15,TSWRDCW Mahbubnagar,50,0,0,0,49,24,48,49,49,154,65,0,219,70.32
16,TSWRDCW Mancherial,32,27,0,0,31,1,31,31,31,143,9,0,152,94.08
17,TSWRDCW Medak,50,40,0,11,49,0,47,49,46,209,33,0,242,86.36
18,TSWRDCW Nagarkurnool,68,32,0,0,50,1,38,50,45,173,43,0,216,80.09
19,TSWRDCW Nalgonda,26,0,0,0,12,3,1,1,0,1,16,0,17,5.88
20,TSWRDCW Sircilla,50,0,21,0,48,1,39,48,41,142,56,0,198,71.72
21,TSWRDCW Suryapet,45,0,0,0,39,1,34,39,21,44,90,1,135,32.84
22,TSWRDCW Vikarabad,39,0,0,0,35,0,0,35,31,12,89,0,101,11.88
23,TSWRDCW Wanaparthy,33,23,0,0,31,0,30,31,31,114,32,0,146,78.08
24,TSWRDCW Warangal West,50,0,0,0,37,32,34,37,37,89,88,0,177,50.28
25,TSWRDCW Warangal east,52,47,2,5,50,36,50,50,50,284,6,38,328,97.93
26,TTWRDC Asifabad(Women),51,42,1,0,46,0,45,46,44,216,8,4,228,96.43
27,TTWRDC Dammapeta(Women),12,6,0,0,11,9,4,11,8,35,14,0,49,71.43
28,TTWRDC Devarakonda(Women),46,7,11,0,18,2,13,17,13,15,66,0,81,18.52
29,TTWRDC Janagaon(Women),40,21,0,0,30,0,27,29,26,70,63,0,133,52.63
30,TTWRDC Khammam(Women),30,23,0,0,29,1,26,29,27,124,11,0,135,91.85
31,TTWRDC Kothagudem(Women),50,0,0,0,47,0,37,9,38,77,54,0,131,58.78
32,TTWRDC Mahabubabad(Women),40,0,0,0,30,0,1,30,17,50,28,0,78,64.10
33,TTWRDC Mahabubnagar(Women),42,1,0,0,14,1,1,6,1,5,19,0,24,20.83
34,TTWRDC Medak(Women),50,31,2,0,47,0,5,10,46,72,69,0,141,51.06
35,TTWRDC Mulugu(Women),30,0,0,0,25,2,0,1,20,33,15,0,48,68.75
36,TTWRDC Nizamabad(Women),47,0,21,29,39,1,41,40,41,37,175,1,213,17.45
37,TTWRDC Shadnagar(Women),49,39,0,1,41,1,38,43,37,162,38,1,201,81.00
38,TTWRDC Siricilla(Women),25,0,0,0,10,0,3,10,2,8,17,1,26,32.00
39,TTWRDC Suryapeta(Women),64,25,0,13,52,2,51,52,48,198,45,8,251,81.48
40,TTWRDC Utnoor(Women),42,35,0,0,36,1,36,39,36,130,53,0,183,71.04

In [386]:
#merged_df3.to_excel(r"C:\Users\User\Downloads\Acceptance rate file.xlsx")

In [387]:
merged_data.head()

,college,Assignment,Score
0,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
1,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
2,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
3,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted
4,TSWRDC Siddipet,Assignment_CAP_Classwork(your_notebook)26March,Not Submitted

In [388]:
merged_data['Score'].unique()

array(['Not Submitted', 'Accepted', 'Rejected', 'Under review'],
      dtype=object)

In [390]:
merged_data['Score'].value_counts()

Score
Not Submitted    6087
Accepted         4170
Rejected         2055
Under review      200
Name: count, dtype: int64

# Assignment wise acceptance rate:

In [435]:
import pandas as pd

# Assuming merged_data is your DataFrame containing the data
# Splitting the 'Score' column into 'Accepted' and 'Rejected'
merged_data['Accepted'] = merged_data['Score'].apply(lambda x: 1 if x == 'Accepted' else 0)
merged_data['Rejected'] = merged_data['Score'].apply(lambda x: 1 if x == 'Rejected' else 0)
merged_data['Under review'] = merged_data['Score'].apply(lambda x: 1 if x == 'Under review' else 0)


# Grouping by 'college' and 'Assignment' and summing the 'Accepted' and 'Rejected' columns
result = merged_data.groupby(['college','Assignment']).agg({'Accepted': 'sum', 'Rejected': 'sum','Under review':'sum'}).reset_index()

result

,college,Assignment,Accepted,Rejected,Under review
0,"TSWRD Pharmacy College, Mahbubabad",Assignment_CAP_Classwork(your_notebook)26March,0,0,0
1,"TSWRD Pharmacy College, Mahbubabad",Assignment_CV__Resume,0,0,0
2,"TSWRD Pharmacy College, Mahbubabad",Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),0,0,0
3,"TSWRD Pharmacy College, Mahbubabad",Assignment_Long_term_dreams_and_short_term_goals,0,0,0
4,"TSWRD Pharmacy College, Mahbubabad",Assignment_Practice,3,0,0
...,...,...,...,...,...
323,TTWRDC Utnoor(Women),Assignment_Long_term_dreams_and_short_term_goals,22,14,0
324,TTWRDC Utnoor(Women),Assignment_Practice,1,0,0
325,TTWRDC Utnoor(Women),Assignment_Preparing_for_PG_Masters,35,1,0
326,TTWRDC Utnoor(Women),Assignment_SMART_goal,15,24,0
327,TTWRDC Utnoor(Women),Assignment_SWOT,22,14,0

In [436]:
result['Under review'].sum()

200

In [437]:
# Grouping the DataFrame by 'College' and 'Assignment' and aggregating accepted and rejected counts
grouped_data = result.groupby(['college', 'Assignment']).agg({'Accepted': 'sum', 'Rejected': 'sum','Under review':'sum'})

grouped_data

                                                                                     Accepted  \
college                            Assignment
TSWRD Pharmacy College, Mahbubabad Assignment_CAP_Classwork(your_notebook)26March           0
                                   Assignment_CV__Resume                                    0
                                   Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)            0
                                   Assignment_Long_term_dreams_and_short_term_goals         0
                                   Assignment_Practice                                      3
...                                                                                       ...
TTWRDC Utnoor(Women)               Assignment_Long_term_dreams_and_short_term_goals        22
                                   Assignment_Practice                                      1
                                   Assignment_Preparing_for_PG_Masters                     35
                                   Assignment_SMART_goal                                   15
                                   Assignment_SWOT                                         22

                                                                                     Rejected  \
college                            Assignment
TSWRD Pharmacy College, Mahbubabad Assignment_CAP_Classwork(your_notebook)26March           0
                                   Assignment_CV__Resume                                    0
                                   Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)            0
                                   Assignment_Long_term_dreams_and_short_term_goals         0
                                   Assignment_Practice                                      0
...                                                                                       ...
TTWRDC Utnoor(Women)               Assignment_Long_term_dreams_and_short_term_goals        14
                                   Assignment_Practice                                      0
                                   Assignment_Preparing_for_PG_Masters                      1
                                   Assignment_SMART_goal                                   24
                                   Assignment_SWOT                                         14

                                                                                     Under review
college                            Assignment
TSWRD Pharmacy College, Mahbubabad Assignment_CAP_Classwork(your_notebook)26March               0
                                   Assignment_CV__Resume                                        0
                                   Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)                0
                                   Assignment_Long_term_dreams_and_short_term_goals             0
                                   Assignment_Practice                                          0
...                                                                                           ...
TTWRDC Utnoor(Women)               Assignment_Long_term_dreams_and_short_term_goals             0
                                   Assignment_Practice                                          0
                                   Assignment_Preparing_for_PG_Masters                          0
                                   Assignment_SMART_goal                                        0
                                   Assignment_SWOT                                              0

[328 rows x 3 columns]

In [438]:
# Pivot the DataFrame to display assignments in a horizontal format
result = result.pivot(index='college', columns='Assignment', values=['Accepted', 'Rejected','Under review']).fillna(0)

# Flatten the column index
result.columns = ['_'.join(col).strip() for col in result.columns.values]

# Reset the index to make 'College' a column again
result1 = result.reset_index()

result1.head()

,college,Accepted_Assignment_CAP_Classwork(your_notebook)26March,Accepted_Assignment_CV__Resume,Accepted_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Accepted_Assignment_Long_term_dreams_and_short_term_goals,Accepted_Assignment_Practice,Accepted_Assignment_Preparing_for_PG_Masters,Accepted_Assignment_SMART_goal,Accepted_Assignment_SWOT,Rejected_Assignment_CAP_Classwork(your_notebook)26March,...,Rejected_Assignment_SMART_goal,Rejected_Assignment_SWOT,Under review_Assignment_CAP_Classwork(your_notebook)26March,Under review_Assignment_CV__Resume,Under review_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Under review_Assignment_Long_term_dreams_and_short_term_goals,Under review_Assignment_Practice,Under review_Assignment_Preparing_for_PG_Masters,Under review_Assignment_SMART_goal,Under review_Assignment_SWOT
0,"TSWRD Pharmacy College, Mahbubabad",0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"TSWRDC & PGC, Budvel",0,0,0,30,1,15,22,23,0,...,22,10,0,0,0,0,0,0,0,0
2,TSWRDC Khammam,0,0,0,18,1,0,1,9,3,...,38,18,0,0,0,0,0,0,0,0
3,TSWRDC Mahendrahills,46,0,0,48,1,42,47,48,0,...,1,0,0,0,22,0,0,1,0,0
4,TSWRDC Nirmal,36,0,0,28,0,0,10,21,0,...,31,14,0,8,0,0,0,0,0,0

In [439]:
result1.columns

Index(['college', 'Accepted_Assignment_CAP_Classwork(your_notebook)26March',
       'Accepted_Assignment_CV__Resume',
       'Accepted_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Accepted_Assignment_Long_term_dreams_and_short_term_goals',
       'Accepted_Assignment_Practice',
       'Accepted_Assignment_Preparing_for_PG_Masters',
       'Accepted_Assignment_SMART_goal', 'Accepted_Assignment_SWOT',
       'Rejected_Assignment_CAP_Classwork(your_notebook)26March',
       'Rejected_Assignment_CV__Resume',
       'Rejected_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Rejected_Assignment_Long_term_dreams_and_short_term_goals',
       'Rejected_Assignment_Practice',
       'Rejected_Assignment_Preparing_for_PG_Masters',
       'Rejected_Assignment_SMART_goal', 'Rejected_Assignment_SWOT',
       'Under review_Assignment_CAP_Classwork(your_notebook)26March',
       'Under review_Assignment_CV__Resume',
       'Under review_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Under review_Assignment_Long_term_dreams_and_short_term_goals',
       'Under review_Assignment_Practice',
       'Under review_Assignment_Preparing_for_PG_Masters',
       'Under review_Assignment_SMART_goal', 'Under review_Assignment_SWOT'],
      dtype='object')

In [440]:
# List of assignment columns to calculate total assignment count and acceptance rates for
assignment_columns = ['CAP_Classwork(your_notebook)26March', 'CV__Resume', 'Full_CAP_-_GoalA+B_(page_38_to_45)',
                      'Long_term_dreams_and_short_term_goals', 'Practice', 'Preparing_for_PG_Masters',
                      'SMART_goal', 'SWOT']

# Calculate total assignment count and acceptance rates for each assignment column
for assignment in assignment_columns:
    accepted_col = f'Accepted_Assignment_{assignment}'
    rejected_col = f'Rejected_Assignment_{assignment}'
    under_review_col = f'Under review_Assignment_{assignment}'
    total_assignment_count_col = f'Total_Assignment_count_Assignment_{assignment}'
    acceptance_rate_col = f'Acceptance_Rate_Assignment_{assignment}'
    
    result1[total_assignment_count_col] = result1[accepted_col] + result1[rejected_col] + result1[under_review_col]
    result1[acceptance_rate_col] = ((result1[accepted_col] / (result1[accepted_col] + result1[rejected_col])).round(4))*100

result1

,college,Accepted_Assignment_CAP_Classwork(your_notebook)26March,Accepted_Assignment_CV__Resume,Accepted_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Accepted_Assignment_Long_term_dreams_and_short_term_goals,Accepted_Assignment_Practice,Accepted_Assignment_Preparing_for_PG_Masters,Accepted_Assignment_SMART_goal,Accepted_Assignment_SWOT,Rejected_Assignment_CAP_Classwork(your_notebook)26March,...,Total_Assignment_count_Assignment_Long_term_dreams_and_short_term_goals,Acceptance_Rate_Assignment_Long_term_dreams_and_short_term_goals,Total_Assignment_count_Assignment_Practice,Acceptance_Rate_Assignment_Practice,Total_Assignment_count_Assignment_Preparing_for_PG_Masters,Acceptance_Rate_Assignment_Preparing_for_PG_Masters,Total_Assignment_count_Assignment_SMART_goal,Acceptance_Rate_Assignment_SMART_goal,Total_Assignment_count_Assignment_SWOT,Acceptance_Rate_Assignment_SWOT
0,"TSWRD Pharmacy College, Mahbubabad",0,0,0,0,3,0,0,0,0,...,0,NaN,3,100.00,0,NaN,0,NaN,0,NaN
1,"TSWRDC & PGC, Budvel",0,0,0,30,1,15,22,23,0,...,44,68.18,1,100.00,32,46.88,44,50.00,33,69.70
2,TSWRDC Khammam,0,0,0,18,1,0,1,9,3,...,40,45.00,1,100.00,6,0.00,39,2.56,27,33.33
3,TSWRDC Mahendrahills,46,0,0,48,1,42,47,48,0,...,48,100.00,1,100.00,47,91.30,48,97.92,48,100.00
4,TSWRDC Nirmal,36,0,0,28,0,0,10,21,0,...,40,70.00,0,NaN,1,0.00,41,24.39,35,60.00
5,TSWRDC Nizamabad,51,0,0,44,0,0,18,44,0,...,51,86.27,0,NaN,19,0.00,51,35.29,51,86.27
6,TSWRDC Siddipet,0,0,0,14,0,0,3,0,0,...,35,40.00,0,NaN,1,0.00,33,9.09,11,0.00
7,TSWRDCW Adilabad,46,0,0,45,2,35,24,47,0,...,51,88.24,2,100.00,51,68.63,51,47.06,49,95.92
8,TSWRDCW Armoor,10,5,0,38,1,9,34,33,0,...,42,90.48,1,100.00,42,21.43,42,80.95,40,82.50
9,TSWRDCW Bhupalpally,0,0,0,29,23,0,15,14,0,...,43,67.44,25,92.00,0,NaN,43,34.88,20,70.00
10,TSWRDCW Jagathgirigutta,0,0,0,42,0,43,26,42,25,...,44,95.45,0,NaN,44,97.73,44,60.47,45,95.45
11,TSWRDCW Jagtial,31,0,0,22,0,28,5,32,1,...,29,75.86,2,0.00,33,84.85,31,16.13,37,86.49
12,TSWRDCW Kamareddy,38,0,0,33,0,0,3,33,0,...,37,89.19,1,0.00,1,0.00,36,8.33,40,82.50
13,TSWRDCW Karimnagar,0,0,0,16,4,44,2,4,0,...,17,94.12,17,23.53,45,97.78,16,12.50,7,57.14
14,TSWRDCW Kothagudem,40,0,0,14,0,18,4,15,0,...,46,30.43,0,NaN,47,38.30,37,10.81,43,34.88
15,TSWRDCW Mahbubnagar,0,0,0,47,0,35,24,48,0,...,49,95.92,24,0.00,48,72.92,49,48.98,49,97.96
16,TSWRDCW Mancherial,27,0,0,30,1,26,30,29,0,...,31,96.77,1,100.00,31,83.87,31,96.77,31,93.55
17,TSWRDCW Medak,40,0,2,48,0,36,45,38,0,...,49,97.96,0,NaN,47,76.60,49,91.84,46,82.61
18,TSWRDCW Nagarkurnool,32,0,0,45,0,32,24,40,0,...,50,90.00,1,0.00,38,84.21,50,48.00,45,88.89
19,TSWRDCW Nalgonda,0,0,0,0,1,0,0,0,0,...,12,0.00,3,33.33,1,0.00,1,0.00,0,NaN
20,TSWRDCW Sircilla,0,0,0,41,1,29,36,35,0,...,48,85.42,1,100.00,39,74.36,48,75.00,41,85.37
21,TSWRDCW Suryapet,0,0,0,33,1,0,10,0,0,...,39,84.62,1,100.00,34,0.00,39,25.64,22,0.00
22,TSWRDCW Vikarabad,0,0,0,12,0,0,0,0,0,...,35,34.29,0,NaN,0,NaN,35,0.00,31,0.00
23,TSWRDCW Wanaparthy,23,0,0,30,0,27,11,23,0,...,31,96.77,0,NaN,30,90.00,31,35.48,31,74.19
24,TSWRDCW Warangal West,0,0,0,32,1,16,13,27,0,...,37,86.49,32,3.12,34,47.06,37,35.14,37,72.97
25,TSWRDCW Warangal east,47,0,3,50,34,50,50,50,0,...,50,100.00,36,94.44,50,100.00,50,100.00,50,100.00
26,TTWRDC Asifabad(Women),42,0,0,46,0,44,42,42,0,...,46,100.00,0,NaN,45,97.78,46,91.30,45,95.45
27,TTWRDC Dammapeta(Women),6,0,0,10,1,4,6,8,0,...,11,90.91,9,11.11,4,100.00,11,54.55,8,100.00
28,TTWRDC Devarakonda(Women),6,0,0,5,0,3,0,1,1,...,18,27.78,2,0.00,13,23.08,17,0.00,13,7.69
29,TTWRDC Janagaon(Women),21,0,0,19,0,6,1,23,0,...,30,63.33,0,NaN,27,22.22,29,3.45,26,88.46
30,TTWRDC Khammam(Women),23,0,0,26,1,21,26,27,0,...,29,89.66,1,100.00,26,80.77,29,89.66,27,100.00
31,TTWRDC Kothagudem(Women),0,0,0,34,0,29,0,14,0,...,47,72.34,0,NaN,37,78.38,9,0.00,38,36.84
32,TTWRDC Mahabubabad(Women),0,0,0,26,0,0,8,16,0,...,30,86.67,0,NaN,1,0.00,30,26.67,17,94.12
33,TTWRDC Mahabubnagar(Women),1,0,0,2,1,0,0,1,0,...,14,14.29,1,100.00,1,0.00,6,0.00,1,100.00
34,TTWRDC Medak(Women),28,0,0,26,0,0,0,18,3,...,47,55.32,0,NaN,5,0.00,10,0.00,46,39.13
35,TTWRDC Mulugu(Women),0,0,0,17,0,0,0,16,0,...,25,68.00,2,0.00,0,NaN,1,0.00,20,80.00
36,TTWRDC Nizamabad(Women),0,0,0,24,1,9,3,0,0,...,39,61.54,1,100.00,41,21.95,40,7.50,41,0.00
37,TTWRDC Shadnagar(Women),39,0,0,35,1,36,20,31,0,...,41,85.37,1,100.00,38,94.74,43,46.51,37,83.78
38,TTWRDC Siricilla(Women),0,0,0,2,0,2,2,2,0,...,10,20.00,0,NaN,3,66.67,10,20.00,2,100.00
39,TTWRDC Suryapeta(Women),23,0,0,51,2,45,38,39,2,...,52,98.08,2,100.00,51,88.24,52,73.08,48,81.25
40,TTWRDC Utnoor(Women),35,0,0,22,1,35,15,22,0,...,36,61.11,1,100.00,36,97.22,39,38.46,36,61.11

In [441]:
result1.columns

Index(['college', 'Accepted_Assignment_CAP_Classwork(your_notebook)26March',
       'Accepted_Assignment_CV__Resume',
       'Accepted_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Accepted_Assignment_Long_term_dreams_and_short_term_goals',
       'Accepted_Assignment_Practice',
       'Accepted_Assignment_Preparing_for_PG_Masters',
       'Accepted_Assignment_SMART_goal', 'Accepted_Assignment_SWOT',
       'Rejected_Assignment_CAP_Classwork(your_notebook)26March',
       'Rejected_Assignment_CV__Resume',
       'Rejected_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Rejected_Assignment_Long_term_dreams_and_short_term_goals',
       'Rejected_Assignment_Practice',
       'Rejected_Assignment_Preparing_for_PG_Masters',
       'Rejected_Assignment_SMART_goal', 'Rejected_Assignment_SWOT',
       'Under review_Assignment_CAP_Classwork(your_notebook)26March',
       'Under review_Assignment_CV__Resume',
       'Under review_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Under review_Assignment_Long_term_dreams_and_short_term_goals',
       'Under review_Assignment_Practice',
       'Under review_Assignment_Preparing_for_PG_Masters',
       'Under review_Assignment_SMART_goal', 'Under review_Assignment_SWOT',
       'Total_Assignment_count_Assignment_CAP_Classwork(your_notebook)26March',
       'Acceptance_Rate_Assignment_CAP_Classwork(your_notebook)26March',
       'Total_Assignment_count_Assignment_CV__Resume',
       'Acceptance_Rate_Assignment_CV__Resume',
       'Total_Assignment_count_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Acceptance_Rate_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Total_Assignment_count_Assignment_Long_term_dreams_and_short_term_goals',
       'Acceptance_Rate_Assignment_Long_term_dreams_and_short_term_goals',
       'Total_Assignment_count_Assignment_Practice',
       'Acceptance_Rate_Assignment_Practice',
       'Total_Assignment_count_Assignment_Preparing_for_PG_Masters',
       'Acceptance_Rate_Assignment_Preparing_for_PG_Masters',
       'Total_Assignment_count_Assignment_SMART_goal',
       'Acceptance_Rate_Assignment_SMART_goal',
       'Total_Assignment_count_Assignment_SWOT',
       'Acceptance_Rate_Assignment_SWOT'],
      dtype='object')

In [442]:
merged_df4=pd.merge(college_student_count,result1,on='college',how='inner')

In [443]:
merged_df4.head()

,college,student_count,Accepted_Assignment_CAP_Classwork(your_notebook)26March,Accepted_Assignment_CV__Resume,Accepted_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Accepted_Assignment_Long_term_dreams_and_short_term_goals,Accepted_Assignment_Practice,Accepted_Assignment_Preparing_for_PG_Masters,Accepted_Assignment_SMART_goal,Accepted_Assignment_SWOT,...,Total_Assignment_count_Assignment_Long_term_dreams_and_short_term_goals,Acceptance_Rate_Assignment_Long_term_dreams_and_short_term_goals,Total_Assignment_count_Assignment_Practice,Acceptance_Rate_Assignment_Practice,Total_Assignment_count_Assignment_Preparing_for_PG_Masters,Acceptance_Rate_Assignment_Preparing_for_PG_Masters,Total_Assignment_count_Assignment_SMART_goal,Acceptance_Rate_Assignment_SMART_goal,Total_Assignment_count_Assignment_SWOT,Acceptance_Rate_Assignment_SWOT
0,"TSWRD Pharmacy College, Mahbubabad",40,0,0,0,0,3,0,0,0,...,0,NaN,3,100.0,0,NaN,0,NaN,0,NaN
1,"TSWRDC & PGC, Budvel",53,0,0,0,30,1,15,22,23,...,44,68.18,1,100.0,32,46.88,44,50.00,33,69.70
2,TSWRDC Khammam,61,0,0,0,18,1,0,1,9,...,40,45.00,1,100.0,6,0.00,39,2.56,27,33.33
3,TSWRDC Mahendrahills,54,46,0,0,48,1,42,47,48,...,48,100.00,1,100.0,47,91.30,48,97.92,48,100.00
4,TSWRDC Nirmal,51,36,0,0,28,0,0,10,21,...,40,70.00,0,NaN,1,0.00,41,24.39,35,60.00

In [444]:
merged_df4.columns

Index(['college', 'student_count',
       'Accepted_Assignment_CAP_Classwork(your_notebook)26March',
       'Accepted_Assignment_CV__Resume',
       'Accepted_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Accepted_Assignment_Long_term_dreams_and_short_term_goals',
       'Accepted_Assignment_Practice',
       'Accepted_Assignment_Preparing_for_PG_Masters',
       'Accepted_Assignment_SMART_goal', 'Accepted_Assignment_SWOT',
       'Rejected_Assignment_CAP_Classwork(your_notebook)26March',
       'Rejected_Assignment_CV__Resume',
       'Rejected_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Rejected_Assignment_Long_term_dreams_and_short_term_goals',
       'Rejected_Assignment_Practice',
       'Rejected_Assignment_Preparing_for_PG_Masters',
       'Rejected_Assignment_SMART_goal', 'Rejected_Assignment_SWOT',
       'Under review_Assignment_CAP_Classwork(your_notebook)26March',
       'Under review_Assignment_CV__Resume',
       'Under review_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Under review_Assignment_Long_term_dreams_and_short_term_goals',
       'Under review_Assignment_Practice',
       'Under review_Assignment_Preparing_for_PG_Masters',
       'Under review_Assignment_SMART_goal', 'Under review_Assignment_SWOT',
       'Total_Assignment_count_Assignment_CAP_Classwork(your_notebook)26March',
       'Acceptance_Rate_Assignment_CAP_Classwork(your_notebook)26March',
       'Total_Assignment_count_Assignment_CV__Resume',
       'Acceptance_Rate_Assignment_CV__Resume',
       'Total_Assignment_count_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Acceptance_Rate_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Total_Assignment_count_Assignment_Long_term_dreams_and_short_term_goals',
       'Acceptance_Rate_Assignment_Long_term_dreams_and_short_term_goals',
       'Total_Assignment_count_Assignment_Practice',
       'Acceptance_Rate_Assignment_Practice',
       'Total_Assignment_count_Assignment_Preparing_for_PG_Masters',
       'Acceptance_Rate_Assignment_Preparing_for_PG_Masters',
       'Total_Assignment_count_Assignment_SMART_goal',
       'Acceptance_Rate_Assignment_SMART_goal',
       'Total_Assignment_count_Assignment_SWOT',
       'Acceptance_Rate_Assignment_SWOT'],
      dtype='object')

In [449]:
data=merged_df4[['college', 'student_count','Total_Assignment_count_Assignment_CAP_Classwork(your_notebook)26March',
       'Acceptance_Rate_Assignment_CAP_Classwork(your_notebook)26March',
       'Total_Assignment_count_Assignment_CV__Resume',
       'Acceptance_Rate_Assignment_CV__Resume',
       'Total_Assignment_count_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Acceptance_Rate_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Total_Assignment_count_Assignment_Long_term_dreams_and_short_term_goals',
       'Acceptance_Rate_Assignment_Long_term_dreams_and_short_term_goals',
       'Total_Assignment_count_Assignment_Practice',
       'Acceptance_Rate_Assignment_Practice',
       'Total_Assignment_count_Assignment_Preparing_for_PG_Masters',
       'Acceptance_Rate_Assignment_Preparing_for_PG_Masters',
       'Total_Assignment_count_Assignment_SMART_goal',
       'Acceptance_Rate_Assignment_SMART_goal',
       'Total_Assignment_count_Assignment_SWOT',
       'Acceptance_Rate_Assignment_SWOT']]

In [450]:
data

,college,student_count,Total_Assignment_count_Assignment_CAP_Classwork(your_notebook)26March,Acceptance_Rate_Assignment_CAP_Classwork(your_notebook)26March,Total_Assignment_count_Assignment_CV__Resume,Acceptance_Rate_Assignment_CV__Resume,Total_Assignment_count_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Acceptance_Rate_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Total_Assignment_count_Assignment_Long_term_dreams_and_short_term_goals,Acceptance_Rate_Assignment_Long_term_dreams_and_short_term_goals,Total_Assignment_count_Assignment_Practice,Acceptance_Rate_Assignment_Practice,Total_Assignment_count_Assignment_Preparing_for_PG_Masters,Acceptance_Rate_Assignment_Preparing_for_PG_Masters,Total_Assignment_count_Assignment_SMART_goal,Acceptance_Rate_Assignment_SMART_goal,Total_Assignment_count_Assignment_SWOT,Acceptance_Rate_Assignment_SWOT
0,"TSWRD Pharmacy College, Mahbubabad",40,0,NaN,0,NaN,0,NaN,0,NaN,3,100.00,0,NaN,0,NaN,0,NaN
1,"TSWRDC & PGC, Budvel",53,0,NaN,0,NaN,0,NaN,44,68.18,1,100.00,32,46.88,44,50.00,33,69.70
2,TSWRDC Khammam,61,3,0.00,4,0.00,0,NaN,40,45.00,1,100.00,6,0.00,39,2.56,27,33.33
3,TSWRDC Mahendrahills,54,46,100.00,0,NaN,22,NaN,48,100.00,1,100.00,47,91.30,48,97.92,48,100.00
4,TSWRDC Nirmal,51,36,100.00,28,0.00,1,0.00,40,70.00,0,NaN,1,0.00,41,24.39,35,60.00
5,TSWRDC Nizamabad,50,51,100.00,0,NaN,0,NaN,51,86.27,0,NaN,19,0.00,51,35.29,51,86.27
6,TSWRDC Siddipet,45,0,NaN,0,NaN,0,NaN,35,40.00,0,NaN,1,0.00,33,9.09,11,0.00
7,TSWRDCW Adilabad,52,46,100.00,0,NaN,0,NaN,51,88.24,2,100.00,51,68.63,51,47.06,49,95.92
8,TSWRDCW Armoor,50,10,100.00,23,23.81,0,NaN,42,90.48,1,100.00,42,21.43,42,80.95,40,82.50
9,TSWRDCW Bhupalpally,52,0,NaN,0,NaN,0,NaN,43,67.44,25,92.00,0,NaN,43,34.88,20,70.00
10,TSWRDCW Jagathgirigutta,48,25,0.00,1,0.00,39,NaN,44,95.45,0,NaN,44,97.73,44,60.47,45,95.45
11,TSWRDCW Jagtial,50,32,96.88,2,0.00,0,NaN,29,75.86,2,0.00,33,84.85,31,16.13,37,86.49
12,TSWRDCW Kamareddy,53,38,100.00,7,0.00,35,NaN,37,89.19,1,0.00,1,0.00,36,8.33,40,82.50
13,TSWRDCW Karimnagar,49,0,NaN,0,NaN,0,NaN,17,94.12,17,23.53,45,97.78,16,12.50,7,57.14
14,TSWRDCW Kothagudem,50,40,100.00,50,0.00,1,0.00,46,30.43,0,NaN,47,38.30,37,10.81,43,34.88
15,TSWRDCW Mahbubnagar,50,0,NaN,0,NaN,0,NaN,49,95.92,24,0.00,48,72.92,49,48.98,49,97.96
16,TSWRDCW Mancherial,32,27,100.00,0,NaN,0,NaN,31,96.77,1,100.00,31,83.87,31,96.77,31,93.55
17,TSWRDCW Medak,50,40,100.00,0,NaN,11,18.18,49,97.96,0,NaN,47,76.60,49,91.84,46,82.61
18,TSWRDCW Nagarkurnool,68,32,100.00,0,NaN,0,NaN,50,90.00,1,0.00,38,84.21,50,48.00,45,88.89
19,TSWRDCW Nalgonda,26,0,NaN,0,NaN,0,NaN,12,0.00,3,33.33,1,0.00,1,0.00,0,NaN
20,TSWRDCW Sircilla,50,0,NaN,21,0.00,0,NaN,48,85.42,1,100.00,39,74.36,48,75.00,41,85.37
21,TSWRDCW Suryapet,45,0,NaN,0,NaN,0,NaN,39,84.62,1,100.00,34,0.00,39,25.64,22,0.00
22,TSWRDCW Vikarabad,39,0,NaN,0,NaN,0,NaN,35,34.29,0,NaN,0,NaN,35,0.00,31,0.00
23,TSWRDCW Wanaparthy,33,23,100.00,0,NaN,0,NaN,31,96.77,0,NaN,30,90.00,31,35.48,31,74.19
24,TSWRDCW Warangal West,50,0,NaN,0,NaN,0,NaN,37,86.49,32,3.12,34,47.06,37,35.14,37,72.97
25,TSWRDCW Warangal east,52,47,100.00,2,0.00,43,60.00,50,100.00,36,94.44,50,100.00,50,100.00,50,100.00
26,TTWRDC Asifabad(Women),51,42,100.00,2,0.00,2,NaN,46,100.00,0,NaN,45,97.78,46,91.30,45,95.45
27,TTWRDC Dammapeta(Women),12,6,100.00,0,NaN,0,NaN,11,90.91,9,11.11,4,100.00,11,54.55,8,100.00
28,TTWRDC Devarakonda(Women),46,7,85.71,11,0.00,0,NaN,18,27.78,2,0.00,13,23.08,17,0.00,13,7.69
29,TTWRDC Janagaon(Women),40,21,100.00,0,NaN,0,NaN,30,63.33,0,NaN,27,22.22,29,3.45,26,88.46
30,TTWRDC Khammam(Women),30,23,100.00,0,NaN,0,NaN,29,89.66,1,100.00,26,80.77,29,89.66,27,100.00
31,TTWRDC Kothagudem(Women),50,0,NaN,0,NaN,0,NaN,47,72.34,0,NaN,37,78.38,9,0.00,38,36.84
32,TTWRDC Mahabubabad(Women),40,0,NaN,0,NaN,0,NaN,30,86.67,0,NaN,1,0.00,30,26.67,17,94.12
33,TTWRDC Mahabubnagar(Women),42,1,100.00,0,NaN,0,NaN,14,14.29,1,100.00,1,0.00,6,0.00,1,100.00
34,TTWRDC Medak(Women),50,31,90.32,2,0.00,0,NaN,47,55.32,0,NaN,5,0.00,10,0.00,46,39.13
35,TTWRDC Mulugu(Women),30,0,NaN,0,NaN,0,NaN,25,68.00,2,0.00,0,NaN,1,0.00,20,80.00
36,TTWRDC Nizamabad(Women),47,0,NaN,22,0.00,29,0.00,39,61.54,1,100.00,41,21.95,40,7.50,41,0.00
37,TTWRDC Shadnagar(Women),49,39,100.00,0,NaN,2,0.00,41,85.37,1,100.00,38,94.74,43,46.51,37,83.78
38,TTWRDC Siricilla(Women),25,0,NaN,1,NaN,0,NaN,10,20.00,0,NaN,3,66.67,10,20.00,2,100.00
39,TTWRDC Suryapeta(Women),64,25,92.00,0,NaN,21,0.00,52,98.08,2,100.00,51,88.24,52,73.08,48,81.25
40,TTWRDC Utnoor(Women),42,35,100.00,0,NaN,0,NaN,36,61.11,1,100.00,36,97.22,39,38.46,36,61.11

In [451]:
merged_df3.columns

Index(['college', 'student_count',
       'Assignment_CAP_Classwork(your_notebook)26March',
       'Assignment_CV__Resume',
       'Assignment_Full_CAP_-_GoalA+B_(page_38_to_45)',
       'Assignment_Long_term_dreams_and_short_term_goals',
       'Assignment_Practice', 'Assignment_Preparing_for_PG_Masters',
       'Assignment_SMART_goal', 'Assignment_SWOT', 'Accepted', 'Rejected',
       'Under review', 'Total Assignment', 'Acceptance Rate(in Percentage)'],
      dtype='object')

In [455]:
data1=merged_df3[['college','Accepted', 'Rejected',
       'Under review', 'Total Assignment', 'Acceptance Rate(in Percentage)']]

In [456]:
data1

,college,Accepted,Rejected,Under review,Total Assignment,Acceptance Rate(in Percentage)
0,"TSWRD Pharmacy College, Mahbubabad",3,0,0,3,100.00
1,"TSWRDC & PGC, Budvel",91,63,0,154,59.09
2,TSWRDC Khammam,29,91,0,120,24.17
3,TSWRDC Mahendrahills,232,5,23,260,97.89
4,TSWRDC Nirmal,95,79,8,182,54.60
5,TSWRDC Nizamabad,157,66,0,223,70.40
6,TSWRDC Siddipet,17,63,0,80,21.25
7,TSWRDCW Adilabad,199,51,0,250,79.60
8,TSWRDCW Armoor,130,68,2,200,65.66
9,TSWRDCW Bhupalpally,81,50,0,131,61.83
10,TSWRDCW Jagathgirigutta,153,48,41,242,76.12
11,TSWRDCW Jagtial,118,48,0,166,71.08
12,TSWRDCW Kamareddy,107,52,36,195,67.30
13,TSWRDCW Karimnagar,70,32,0,102,68.63
14,TSWRDCW Kothagudem,91,137,36,264,39.91
15,TSWRDCW Mahbubnagar,154,65,0,219,70.32
16,TSWRDCW Mancherial,143,9,0,152,94.08
17,TSWRDCW Medak,209,33,0,242,86.36
18,TSWRDCW Nagarkurnool,173,43,0,216,80.09
19,TSWRDCW Nalgonda,1,16,0,17,5.88
20,TSWRDCW Sircilla,142,56,0,198,71.72
21,TSWRDCW Suryapet,44,90,1,135,32.84
22,TSWRDCW Vikarabad,12,89,0,101,11.88
23,TSWRDCW Wanaparthy,114,32,0,146,78.08
24,TSWRDCW Warangal West,89,88,0,177,50.28
25,TSWRDCW Warangal east,284,6,38,328,97.93
26,TTWRDC Asifabad(Women),216,8,4,228,96.43
27,TTWRDC Dammapeta(Women),35,14,0,49,71.43
28,TTWRDC Devarakonda(Women),15,66,0,81,18.52
29,TTWRDC Janagaon(Women),70,63,0,133,52.63
30,TTWRDC Khammam(Women),124,11,0,135,91.85
31,TTWRDC Kothagudem(Women),77,54,0,131,58.78
32,TTWRDC Mahabubabad(Women),50,28,0,78,64.10
33,TTWRDC Mahabubnagar(Women),5,19,0,24,20.83
34,TTWRDC Medak(Women),72,69,0,141,51.06
35,TTWRDC Mulugu(Women),33,15,0,48,68.75
36,TTWRDC Nizamabad(Women),37,175,1,213,17.45
37,TTWRDC Shadnagar(Women),162,38,1,201,81.00
38,TTWRDC Siricilla(Women),8,17,1,26,32.00
39,TTWRDC Suryapeta(Women),198,45,8,251,81.48
40,TTWRDC Utnoor(Women),130,53,0,183,71.04

In [459]:
# Assuming 'result1' is the DataFrame containing the data
data.fillna(0, inplace=True)

<ipython-input-459-db63819330c8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.fillna(0, inplace=True)

In [460]:
data

,college,student_count,Total_Assignment_count_Assignment_CAP_Classwork(your_notebook)26March,Acceptance_Rate_Assignment_CAP_Classwork(your_notebook)26March,Total_Assignment_count_Assignment_CV__Resume,Acceptance_Rate_Assignment_CV__Resume,Total_Assignment_count_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Acceptance_Rate_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Total_Assignment_count_Assignment_Long_term_dreams_and_short_term_goals,Acceptance_Rate_Assignment_Long_term_dreams_and_short_term_goals,Total_Assignment_count_Assignment_Practice,Acceptance_Rate_Assignment_Practice,Total_Assignment_count_Assignment_Preparing_for_PG_Masters,Acceptance_Rate_Assignment_Preparing_for_PG_Masters,Total_Assignment_count_Assignment_SMART_goal,Acceptance_Rate_Assignment_SMART_goal,Total_Assignment_count_Assignment_SWOT,Acceptance_Rate_Assignment_SWOT
0,"TSWRD Pharmacy College, Mahbubabad",40,0,0.00,0,0.00,0,0.00,0,0.00,3,100.00,0,0.00,0,0.00,0,0.00
1,"TSWRDC & PGC, Budvel",53,0,0.00,0,0.00,0,0.00,44,68.18,1,100.00,32,46.88,44,50.00,33,69.70
2,TSWRDC Khammam,61,3,0.00,4,0.00,0,0.00,40,45.00,1,100.00,6,0.00,39,2.56,27,33.33
3,TSWRDC Mahendrahills,54,46,100.00,0,0.00,22,0.00,48,100.00,1,100.00,47,91.30,48,97.92,48,100.00
4,TSWRDC Nirmal,51,36,100.00,28,0.00,1,0.00,40,70.00,0,0.00,1,0.00,41,24.39,35,60.00
5,TSWRDC Nizamabad,50,51,100.00,0,0.00,0,0.00,51,86.27,0,0.00,19,0.00,51,35.29,51,86.27
6,TSWRDC Siddipet,45,0,0.00,0,0.00,0,0.00,35,40.00,0,0.00,1,0.00,33,9.09,11,0.00
7,TSWRDCW Adilabad,52,46,100.00,0,0.00,0,0.00,51,88.24,2,100.00,51,68.63,51,47.06,49,95.92
8,TSWRDCW Armoor,50,10,100.00,23,23.81,0,0.00,42,90.48,1,100.00,42,21.43,42,80.95,40,82.50
9,TSWRDCW Bhupalpally,52,0,0.00,0,0.00,0,0.00,43,67.44,25,92.00,0,0.00,43,34.88,20,70.00
10,TSWRDCW Jagathgirigutta,48,25,0.00,1,0.00,39,0.00,44,95.45,0,0.00,44,97.73,44,60.47,45,95.45
11,TSWRDCW Jagtial,50,32,96.88,2,0.00,0,0.00,29,75.86,2,0.00,33,84.85,31,16.13,37,86.49
12,TSWRDCW Kamareddy,53,38,100.00,7,0.00,35,0.00,37,89.19,1,0.00,1,0.00,36,8.33,40,82.50
13,TSWRDCW Karimnagar,49,0,0.00,0,0.00,0,0.00,17,94.12,17,23.53,45,97.78,16,12.50,7,57.14
14,TSWRDCW Kothagudem,50,40,100.00,50,0.00,1,0.00,46,30.43,0,0.00,47,38.30,37,10.81,43,34.88
15,TSWRDCW Mahbubnagar,50,0,0.00,0,0.00,0,0.00,49,95.92,24,0.00,48,72.92,49,48.98,49,97.96
16,TSWRDCW Mancherial,32,27,100.00,0,0.00,0,0.00,31,96.77,1,100.00,31,83.87,31,96.77,31,93.55
17,TSWRDCW Medak,50,40,100.00,0,0.00,11,18.18,49,97.96,0,0.00,47,76.60,49,91.84,46,82.61
18,TSWRDCW Nagarkurnool,68,32,100.00,0,0.00,0,0.00,50,90.00,1,0.00,38,84.21,50,48.00,45,88.89
19,TSWRDCW Nalgonda,26,0,0.00,0,0.00,0,0.00,12,0.00,3,33.33,1,0.00,1,0.00,0,0.00
20,TSWRDCW Sircilla,50,0,0.00,21,0.00,0,0.00,48,85.42,1,100.00,39,74.36,48,75.00,41,85.37
21,TSWRDCW Suryapet,45,0,0.00,0,0.00,0,0.00,39,84.62,1,100.00,34,0.00,39,25.64,22,0.00
22,TSWRDCW Vikarabad,39,0,0.00,0,0.00,0,0.00,35,34.29,0,0.00,0,0.00,35,0.00,31,0.00
23,TSWRDCW Wanaparthy,33,23,100.00,0,0.00,0,0.00,31,96.77,0,0.00,30,90.00,31,35.48,31,74.19
24,TSWRDCW Warangal West,50,0,0.00,0,0.00,0,0.00,37,86.49,32,3.12,34,47.06,37,35.14,37,72.97
25,TSWRDCW Warangal east,52,47,100.00,2,0.00,43,60.00,50,100.00,36,94.44,50,100.00,50,100.00,50,100.00
26,TTWRDC Asifabad(Women),51,42,100.00,2,0.00,2,0.00,46,100.00,0,0.00,45,97.78,46,91.30,45,95.45
27,TTWRDC Dammapeta(Women),12,6,100.00,0,0.00,0,0.00,11,90.91,9,11.11,4,100.00,11,54.55,8,100.00
28,TTWRDC Devarakonda(Women),46,7,85.71,11,0.00,0,0.00,18,27.78,2,0.00,13,23.08,17,0.00,13,7.69
29,TTWRDC Janagaon(Women),40,21,100.00,0,0.00,0,0.00,30,63.33,0,0.00,27,22.22,29,3.45,26,88.46
30,TTWRDC Khammam(Women),30,23,100.00,0,0.00,0,0.00,29,89.66,1,100.00,26,80.77,29,89.66,27,100.00
31,TTWRDC Kothagudem(Women),50,0,0.00,0,0.00,0,0.00,47,72.34,0,0.00,37,78.38,9,0.00,38,36.84
32,TTWRDC Mahabubabad(Women),40,0,0.00,0,0.00,0,0.00,30,86.67,0,0.00,1,0.00,30,26.67,17,94.12
33,TTWRDC Mahabubnagar(Women),42,1,100.00,0,0.00,0,0.00,14,14.29,1,100.00,1,0.00,6,0.00,1,100.00
34,TTWRDC Medak(Women),50,31,90.32,2,0.00,0,0.00,47,55.32,0,0.00,5,0.00,10,0.00,46,39.13
35,TTWRDC Mulugu(Women),30,0,0.00,0,0.00,0,0.00,25,68.00,2,0.00,0,0.00,1,0.00,20,80.00
36,TTWRDC Nizamabad(Women),47,0,0.00,22,0.00,29,0.00,39,61.54,1,100.00,41,21.95,40,7.50,41,0.00
37,TTWRDC Shadnagar(Women),49,39,100.00,0,0.00,2,0.00,41,85.37,1,100.00,38,94.74,43,46.51,37,83.78
38,TTWRDC Siricilla(Women),25,0,0.00,1,0.00,0,0.00,10,20.00,0,0.00,3,66.67,10,20.00,2,100.00
39,TTWRDC Suryapeta(Women),64,25,92.00,0,0.00,21,0.00,52,98.08,2,100.00,51,88.24,52,73.08,48,81.25
40,TTWRDC Utnoor(Women),42,35,100.00,0,0.00,0,0.00,36,61.11,1,100.00,36,97.22,39,38.46,36,61.11

In [461]:
merged_df5=pd.merge(data,data1,on='college',how='inner')

In [462]:
merged_df5

,college,student_count,Total_Assignment_count_Assignment_CAP_Classwork(your_notebook)26March,Acceptance_Rate_Assignment_CAP_Classwork(your_notebook)26March,Total_Assignment_count_Assignment_CV__Resume,Acceptance_Rate_Assignment_CV__Resume,Total_Assignment_count_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Acceptance_Rate_Assignment_Full_CAP_-_GoalA+B_(page_38_to_45),Total_Assignment_count_Assignment_Long_term_dreams_and_short_term_goals,Acceptance_Rate_Assignment_Long_term_dreams_and_short_term_goals,...,Acceptance_Rate_Assignment_Preparing_for_PG_Masters,Total_Assignment_count_Assignment_SMART_goal,Acceptance_Rate_Assignment_SMART_goal,Total_Assignment_count_Assignment_SWOT,Acceptance_Rate_Assignment_SWOT,Accepted,Rejected,Under review,Total Assignment,Acceptance Rate(in Percentage)
0,"TSWRD Pharmacy College, Mahbubabad",40,0,0.00,0,0.00,0,0.00,0,0.00,...,0.00,0,0.00,0,0.00,3,0,0,3,100.00
1,"TSWRDC & PGC, Budvel",53,0,0.00,0,0.00,0,0.00,44,68.18,...,46.88,44,50.00,33,69.70,91,63,0,154,59.09
2,TSWRDC Khammam,61,3,0.00,4,0.00,0,0.00,40,45.00,...,0.00,39,2.56,27,33.33,29,91,0,120,24.17
3,TSWRDC Mahendrahills,54,46,100.00,0,0.00,22,0.00,48,100.00,...,91.30,48,97.92,48,100.00,232,5,23,260,97.89
4,TSWRDC Nirmal,51,36,100.00,28,0.00,1,0.00,40,70.00,...,0.00,41,24.39,35,60.00,95,79,8,182,54.60
5,TSWRDC Nizamabad,50,51,100.00,0,0.00,0,0.00,51,86.27,...,0.00,51,35.29,51,86.27,157,66,0,223,70.40
6,TSWRDC Siddipet,45,0,0.00,0,0.00,0,0.00,35,40.00,...,0.00,33,9.09,11,0.00,17,63,0,80,21.25
7,TSWRDCW Adilabad,52,46,100.00,0,0.00,0,0.00,51,88.24,...,68.63,51,47.06,49,95.92,199,51,0,250,79.60
8,TSWRDCW Armoor,50,10,100.00,23,23.81,0,0.00,42,90.48,...,21.43,42,80.95,40,82.50,130,68,2,200,65.66
9,TSWRDCW Bhupalpally,52,0,0.00,0,0.00,0,0.00,43,67.44,...,0.00,43,34.88,20,70.00,81,50,0,131,61.83
10,TSWRDCW Jagathgirigutta,48,25,0.00,1,0.00,39,0.00,44,95.45,...,97.73,44,60.47,45,95.45,153,48,41,242,76.12
11,TSWRDCW Jagtial,50,32,96.88,2,0.00,0,0.00,29,75.86,...,84.85,31,16.13,37,86.49,118,48,0,166,71.08
12,TSWRDCW Kamareddy,53,38,100.00,7,0.00,35,0.00,37,89.19,...,0.00,36,8.33,40,82.50,107,52,36,195,67.30
13,TSWRDCW Karimnagar,49,0,0.00,0,0.00,0,0.00,17,94.12,...,97.78,16,12.50,7,57.14,70,32,0,102,68.63
14,TSWRDCW Kothagudem,50,40,100.00,50,0.00,1,0.00,46,30.43,...,38.30,37,10.81,43,34.88,91,137,36,264,39.91
15,TSWRDCW Mahbubnagar,50,0,0.00,0,0.00,0,0.00,49,95.92,...,72.92,49,48.98,49,97.96,154,65,0,219,70.32
16,TSWRDCW Mancherial,32,27,100.00,0,0.00,0,0.00,31,96.77,...,83.87,31,96.77,31,93.55,143,9,0,152,94.08
17,TSWRDCW Medak,50,40,100.00,0,0.00,11,18.18,49,97.96,...,76.60,49,91.84,46,82.61,209,33,0,242,86.36
18,TSWRDCW Nagarkurnool,68,32,100.00,0,0.00,0,0.00,50,90.00,...,84.21,50,48.00,45,88.89,173,43,0,216,80.09
19,TSWRDCW Nalgonda,26,0,0.00,0,0.00,0,0.00,12,0.00,...,0.00,1,0.00,0,0.00,1,16,0,17,5.88
20,TSWRDCW Sircilla,50,0,0.00,21,0.00,0,0.00,48,85.42,...,74.36,48,75.00,41,85.37,142,56,0,198,71.72
21,TSWRDCW Suryapet,45,0,0.00,0,0.00,0,0.00,39,84.62,...,0.00,39,25.64,22,0.00,44,90,1,135,32.84
22,TSWRDCW Vikarabad,39,0,0.00,0,0.00,0,0.00,35,34.29,...,0.00,35,0.00,31,0.00,12,89,0,101,11.88
23,TSWRDCW Wanaparthy,33,23,100.00,0,0.00,0,0.00,31,96.77,...,90.00,31,35.48,31,74.19,114,32,0,146,78.08
24,TSWRDCW Warangal West,50,0,0.00,0,0.00,0,0.00,37,86.49,...,47.06,37,35.14,37,72.97,89,88,0,177,50.28
25,TSWRDCW Warangal east,52,47,100.00,2,0.00,43,60.00,50,100.00,...,100.00,50,100.00,50,100.00,284,6,38,328,97.93
26,TTWRDC Asifabad(Women),51,42,100.00,2,0.00,2,0.00,46,100.00,...,97.78,46,91.30,45,95.45,216,8,4,228,96.43
27,TTWRDC Dammapeta(Women),12,6,100.00,0,0.00,0,0.00,11,90.91,...,100.00,11,54.55,8,100.00,35,14,0,49,71.43
28,TTWRDC Devarakonda(Women),46,7,85.71,11,0.00,0,0.00,18,27.78,...,23.08,17,0.00,13,7.69,15,66,0,81,18.52
29,TTWRDC Janagaon(Women),40,21,100.00,0,0.00,0,0.00,30,63.33,...,22.22,29,3.45,26,88.46,70,63,0,133,52.63
30,TTWRDC Khammam(Women),30,23,100.00,0,0.00,0,0.00,29,89.66,...,80.77,29,89.66,27,100.00,124,11,0,135,91.85
31,TTWRDC Kothagudem(Women),50,0,0.00,0,0.00,0,0.00,47,72.34,...,78.38,9,0.00,38,36.84,77,54,0,131,58.78
32,TTWRDC Mahabubabad(Women),40,0,0.00,0,0.00,0,0.00,30,86.67,...,0.00,30,26.67,17,94.12,50,28,0,78,64.10
33,TTWRDC Mahabubnagar(Women),42,1,100.00,0,0.00,0,0.00,14,14.29,...,0.00,6,0.00,1,100.00,5,19,0,24,20.83
34,TTWRDC Medak(Women),50,31,90.32,2,0.00,0,0.00,47,55.32,...,0.00,10,0.00,46,39.13,72,69,0,141,51.06
35,TTWRDC Mulugu(Women),30,0,0.00,0,0.00,0,0.00,25,68.00,...,0.00,1,0.00,20,80.00,33,15,0,48,68.75
36,TTWRDC Nizamabad(Women),47,0,0.00,22,0.00,29,0.00,39,61.54,...,21.95,40,7.50,41,0.00,37,175,1,213,17.45
37,TTWRDC Shadnagar(Women),49,39,100.00,0,0.00,2,0.00,41,85.37,...,94.74,43,46.51,37,83.78,162,38,1,201,81.00
38,TTWRDC Siricilla(Women),25,0,0.00,1,0.00,0,0.00,10,20.00,...,66.67,10,20.00,2,100.00,8,17,1,26,32.00
39,TTWRDC Suryapeta(Women),64,25,92.00,0,0.00,21,0.00,52,98.08,...,88.24,52,73.08,48,81.25,198,45,8,251,81.48
40,TTWRDC Utnoor(Women),42,35,100.00,0,0.00,0,0.00,36,61.11,...,97.22,39,38.46,36,61.11,130,53,0,183,71.04